<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- left side div -->
                <div class="col-md-12 col-12 align-items-center">
                    <figure>
                        <img src="../../../public/image/404.png" alt="404 Error Page" class="img_fluid" title="akshay chavhan">
                    </figure>  
                    <p>Welcome to the Weather App</p> 
                    <h1>{{errorMsg}}</h1>            
                    <a href="/"><button>Go to homepage</button></a>
                </div>
            </div>
        </div>
    </div>
</div>